<%= form_for(flight) do |f| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :way %>
      <%= collection_select(:flight, :way, Airway.all, :id, :code,
                            option={:prompt => 'Select Airway', :multiple => true})%>
    </div>


  <div class="field">
    <%= f.label :grade %>
    <%= f.select :grade, options_for_select([["Phổ thông", "Y"],["Thương gia", "C"] ])%>
  </div>

  <div class="field">
    <%= f.label :pricelevel %>
    <%= f.number_field :pricelevel , option={:id => 'pricelevel'}%>
  </div>

  <div class="field">
    <%= f.label :slot %>
    <%= f.number_field :slot , option={:id => 'slot'}%>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, option={:id => 'price'} %>
  </div>

    <script>
      $('#slot').on('change', function () {
        var res = $('#pricelevel').val()* $('#slot').val();
        $("#price").empty();
        $('#price').val(res);
      });
    </script>
    <script>
      $('#pricelevel').on('change', function () {
        var res = $('#pricelevel').val()* $('#slot').val();
        $("#price").empty();
        $('#price').val(res);
      });
    </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
