<%= form_for(airstrip) do |f| %>
  <% if airstrip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(airstrip.errors.count, "error") %> prohibited this airstrip from being saved:</h2>

      <ul>
      <% airstrip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :start %>
      <%= collection_select( :airstrip, :start , Airport.all , :id, :name, {:prompt => true, :multiple=>true } ) %>
    </div>

    <div class="field">
      <%= f.label :sanbayden %>
      <%= collection_select( :airstrip, :end , Airport.all , :id, :name, {:prompt => true, :multiple=>true } ) %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
