<p id="notice"><%= notice %></p>

<h1>Flightdetails</h1>

<table>
  <thead>
    <tr>
      <th>Booking</th>
      <th>Flight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flightdetails.each do |flightdetail| %>
      <tr>
        <td><%= flightdetail.booking %></td>
        <td><%= flightdetail.flight %></td>
        <td><%= link_to 'Show', flightdetail %></td>
        <td><%= link_to 'Edit', edit_flightdetail_path(flightdetail) %></td>
        <td><%= link_to 'Destroy', flightdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flightdetail', new_flightdetail_path %>
