<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pricelevel.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pricelevel.price %>
</p>

<%= link_to 'Edit', edit_pricelevel_path(@pricelevel) %> |
<%= link_to 'Back', pricelevels_path %>
